{% extends "base.html" %}
{% block title %}Create Lecturer{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container" style="margin-top:120px">
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 form-create">
        		<form role="form" action="" method="post" name="/create_lecturer">
              {{ form.hidden_tag() }}
        			<h2 style="bold">Create Lecturer</h2>
        			<hr class="colorline">
        			<div class="row">
        				<div class="col-xs-4 col-sm-4 col-md-4">
        					<div class="form-group">
                    <input class="form-control input-lg" id="lecturer_degree" name="lecturer_degree" placeholder="Degree" required="" type="text" value="" tabindex="``">
        					</div>
        				</div>
        				<div class="col-xs-8 col-sm-8 col-md-8">
        					<div class="form-group">
                    <input class="form-control input-lg" id="lecturer_name" name="lecturer_name" placeholder="Name" required="" type="text" value="" tabindex="2">
        					</div>
        				</div>
        			</div>
        			<div class="form-group">
                <input class="form-control input-lg" id="lecturer_email" name="lecturer_email" placeholder="E-mail" required="" type="text" value="" tabindex="3">
        			</div>
        			<hr class="colorline">
        			<div class="row">
        				<div class="offset-xs-3 offset-md-3 col-xs-6 col-md-6 offset-xs-3 offset-md-3">
                  <input type="submit" class="btn btn-primary btn-block btn-lg" id="create_lecturer_button" value="Create Lecturer" tabindex="7">
        			  </div>
        		</form>
      	   </div>
         </div>
      </div>
{% endblock %}
